h1 {
    text-align: center;
    color: blue;
}

body {
    margin-left: 100px;
}

#myID {
    height: 100px;
    width: 200px;
    background-color: red;
    text-align: center;
    padding-top: 30px;
  }